{% extends 'base.html' %}
{% block content %}
    <p>{{ movies|length }} Titles</p>
    <form method="post">
        Title <input type="text" name="title" autocomplete="off" required>
        Chinese <input type="text" name="chinese" autocomplete="off" required>
        Picture <input type="text" name="image_url" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Add">
    </form>
    <ul class="movie-list">
        {% for movie in movies %}
        <li style="font-weight: bolder">{{ movie.title }} - {{ movie.chinese }}
            <span class="float-right">
                <a class="btn" href="{{ url_for('alter_page', movie_id=movie.id) }}">Edit</a>
                <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                    <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
            </span>
            <a href="http://www.yyetss.com/Search/index/?s_keys={{ movie.title }}">
                <br><img src="{{ movie.image_url }}" height="250" width="200" >
            </a>

        </li>
        {% endfor %}
    </ul>
{% endblock %}