{% extends 'base.html' %}
{% block content %}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li style="font-weight: bolder">{{ movie.title }} - {{ movie.chinese }}
            <span class="float-right">
                <a class="yyes yyesst" style="padding: 5px" href="http://www.yyetss.com/Search/index/?s_keys={{ movie.title }}" target="_blank" title="Find this movie on yyetss">YYeTss</a>
            </span>
            <a href="http://www.yyetss.com/Search/index/?s_keys={{ movie.title }}">
                <br><img src="{{ movie.image_url }}" height="250" width="200" >
            </a>

        </li>
        {% endfor %}
    </ul>
{% endblock %}
